
<!-- NAV BAR -->
  <header>
    <div class='container'>
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Creepr</a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/about">About</a></li>
            </ul>
            <!-- Search BY Tag -->
            <form class="navbar-form navbar-left" role="search" method="get" action="/photos/tag">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search by Tag" name="tags" required>
              </div>
              <button type="submit" class="btn btn-default" value="filter">Search</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/photos/new">Add Photo</a></li>
              <li class="dropdown">
              <!-- HERE IS WHERE WE PUT THE RECENT TAG CODE -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Recent Tags <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                
                  <%tags = Tag.all%>
                  <% tags.sort_by!{|tag| tag.photos.size} %>
                  <li><%=tags.pop.name %></li>
                  <li><%=tags.pop.name %></li>
                  <li><%=tags.pop.name %></li>

                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </div>
  </header>
<h1>creepr main page<h1>


<!-- STUFF FOR USERS -->
<% if session[:user_id] %>
  <%logged_user = User.find(session[:user_id]).username%>
  <small>logged in as <a href="/profile/<%=logged_user%>"><%=logged_user%></a></small>
  <small><a href="/logout">Logout</a></small>
<% end %>
<small>
<a href="/login"> Login </a>
<a href="/signup"> Signup </a>

</small>
<!-- END STUFF FOR USERS -->


<p> 
<%@tags && @tags.each do |tag|%>
  <%= tag.name %>

  <small><a href="/photos/tag/<%=(@tags.map(&:name) - [tag.name]).join(',')%>"> remove        .</a></small>
<% end %>
</p>


<!-- MAIN PHOTO DISPLAY -->

<div class="container">
  <% @photos.each_slice(3).to_a.each do |photo_row| %>
    <div class="row borderz">
    <% photo_row.each do |photo| %>
     <div class="col-xs-12 col-sm-6 col-md-4">
      <a href='/photos/<%= photo.id %>' style='background-image: url(/uploads/<%= photo.filename%>);' class="thumb img-responsive img-thumbnail" alt="Responsive image"/></a>
      <div class='row'>
      <div class='rating-text'>rating</div>
        <div class='comment-text'>     
          <% if photo.most_recent_comment %>
            <%= photo.most_recent_comment.body %> 
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
 <% end %>
</div>





    <!-- jQuery Version 1.11.0 -->
    <script src="/js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
   <!-- Menu Toggle Script -->
      <script>
      $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#wrapper").toggleClass("toggled");
      });
      </script>


