<span class='textcolor'>
<%@tags && @tags.each do |tag|%>
  <div class='container col-md-2'>
    <h3 class='col-md-4'><%= tag.name %>
      <a href="/photos/tag/<%=(@tags.map(&:name) - [tag.name]).join(',')%>">remove.</a>
      <%if session[:user_id] %>
        <form method="post" action="/subscribe"><input type="hidden" name="tagid" value="<%=tag.id%>">
        <button type='submit'>subscribe</button>
      <% end %>
    </h3>
  </div>
<% end %>
</span>

<!-- empty container to seperate the tags from photos -->
<div class='container'></div>


<!-- MAIN PHOTO DISPLAY -->
<% @photos.reverse! %>
<div class="container">
  <% @photos.each_slice(3).to_a.each do |photo_row| %>
    <div class="row borderz container">
    <% photo_row.each do |photo| %>


      <% t = [] %>
      <% photo.tags.each do |tag| %>
        <% t << tag.name %>
      <% end %>
      <% tag_string = t.join(',') %>
     <div class="col-xs-12 col-sm-4 col-md-4">

      <a href='/photos/<%= photo.id %>' style='background-image: url(/uploads/<%= photo.filename%>);' class="thumb img-responsive img-thumbnail photo-shadow" alt="Responsive image"/></a>
      <div class='row'>
        <div class='comment-box'>     
        <div class='ratingfont'></div>
        <!-- work in here -->
        <div class='ratingfont'><%=tag_string%></div>
          &nbsp<span class='ratingfont'> creep score: &nbsp&nbsp<span class='ratingcolor'><%=photo.rating%></span></span>
          <% if photo.most_recent_comment %>
            <p class='comment-text'>&nbsp&nbsp<%= photo.most_recent_comment.body %> </p>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
 <% end %>
</div>


