
<h1 class='textcolor'><%= @photo.title %></h1>

<p>
  <img src ="/uploads/<%=@photo.filename%>" width="100" height="100"/>
</p>

<p>
  Tags:  

  <% @photo.tags.each do |tag|%>
  <%= tag.name %>
  <% end %>

</p>
<p>
CreepScore: <%=@photo.rating %>
</p>
<p>Comments:</p>
<% @photo.comments.each do |comment| %>
  <p> <%= comment.body %> 
  :<%=comment.created_at.month%>-<%=comment.created_at.day%>

  </p>
<% end %>

<% if session[:user_id]%>
  <!-- rating stars -->
  <form action="/rate" method="post">
  <!-- the stars are here in an empty div -->
    <div class='rating-text'>rating</div>
    <div class="rate" name="raty"  style='margin-left: 20px;'></div>
  <!-- this is the hidden input that raty sends the data to -->    
    <input type="number" name="rating" style="display:none;" id="rating">
    <input type="text" style="display:none;" name="id" value="<%= @photo.id %>">
    <input type="submit"  style='margin-left: 20px;'>
  </form>

<% end %>

<!-- Comment submission form  -->
<form action='/comment' method='post'>
  <input type="text" style="display:none;" name="photo_id" value="<%= @photo.id %>">
    <label>Comment:</label>
  <div class="form_box">
    <textarea class="submissionfield" type="text" name="body" cols="40" rows="4" required maxlength="140" style="resize: none;"></textarea>
  </div>

  <div class="submit_button">
      <input type="submit" value="Submit">
  </div>
</form>


<!-- Add a tag  -->
<form action='/tag' method='post'>
  <input type="text" style="display:none;" name="photo_id" value="<%= @photo.id %>">
    <label>Add tags separated by ',':</label>
  <div class="form_box">
    <input  type="text" name="tagname" cols="40" rows="4" required maxlength="140" style="resize: none;"></textarea>
  </div>

  <div class="submit_button">
      <input type="submit" value="Submit">
  </div>
</form>


<!-- JAVA script for stars -->
<script>
      //FOR THE FORM SELECTABLE STARS
  $('.rate').raty({
    click: function(score, evt) {
      $('#rating').val(score)
    }});
 
 
//FOR THE STATIC STARS
  $.each($('.rating'), function( index, object ) {  
    $(object).raty({ 
      readOnly: true, 
      number: 5,
    // grabs the 'data-score' for div class="rating" and sets the number of stars  
      score: $(object).attr('data-score')  
    });
  });
</script>

