

PROFILE FOR : 
<% logged_user = User.find(session[:user_id]) %>
<%=  logged_user.username%>
<a href="/photos"> Back </a>

<form method="post" action="/addYOusername">
  <small><%=logged_user.yo_username%></small>
  <input type="text" name="YOname" >
  <button type='submit'>save YO username</button>
</form>


<!-- MAIN PHOTO DISPLAY -->
<p>
<div class="container">
  <% @user_photos.each_slice(3).to_a.each do |photo_row| %>
    <div class="row borderz">
    <% photo_row.each do |photo| %>
     <div class="col-xs-12 col-sm-6 col-md-4">
      <a href='/photos/<%= photo.id %>' style='background-image: url(/uploads/<%= photo.filename%>);' class="thumb img-responsive img-thumbnail" alt="Responsive image"/></a>
      <div class='row'>
      <div class='rating-text'>rating</div>
        <div class='comment-text'>     
          <% if photo.most_recent_comment %>
            <%= photo.most_recent_comment.body %> 
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
 <% end %>
</div>



</p>
